<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Event1</key>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>description</key>
		<string>Iron Man</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Iron_Man_(2008_film)</string>
		<key>yearOfEvent</key>
		<integer>2000</integer>
		<key>eventName</key>
		<string>Iron Man</string>
	</dict>
	<key>Event2</key>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>description</key>
		<string>The Incredible Hulk</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Incredible_Hulk_(film)</string>
		<key>yearOfEvent</key>
		<integer>2000</integer>
		<key>eventName</key>
		<string>The Incredible Hulk</string>
	</dict>
	<key>Event3</key>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>description</key>
		<string>Iron Man 2</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Iron_Man_2</string>
		<key>yearOfEvent</key>
		<integer>2010</integer>
		<key>eventName</key>
		<string>Iron Man 2</string>
	</dict>
	<key>Event4</key>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>description</key>
		<string>Thor</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Thor_(film)</string>
		<key>yearOfEvent</key>
		<integer>2011</integer>
		<key>eventName</key>
		<string>Thor</string>
	</dict>
	<key>Event5</key>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>description</key>
		<string>Captain America: The First Avenger</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Captain_America:_The_First_Avenger</string>
		<key>yearOfEvent</key>
		<integer>2011</integer>
		<key>eventName</key>
		<string>Captain America: The First Avenger</string>
	</dict>
	<key>Event6</key>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>description</key>
		<string>Marvel&apos;s The Avengers</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Avengers_(2012_film)</string>
		<key>yearOfEvent</key>
		<integer>2012</integer>
		<key>eventName</key>
		<string>Marvel&apos;s The Avengers</string>
	</dict>
	<key>Event7</key>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>description</key>
		<string>Iron Man 3</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Iron_Man_3</string>
		<key>yearOfEvent</key>
		<integer>2012</integer>
		<key>eventName</key>
		<string>Iron Man 3</string>
	</dict>
	<key>Event8</key>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>description</key>
		<string>Thor: The Dark World</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Thor:_The_Dark_World</string>
		<key>yearOfEvent</key>
		<integer>2013</integer>
		<key>eventName</key>
		<string>Thor: The Dark World</string>
	</dict>
	<key>Event9</key>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>description</key>
		<string>Captain America: The Winter Soldier</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Captain_America:_The_Winter_Soldier</string>
		<key>yearOfEvent</key>
		<integer>2014</integer>
		<key>eventName</key>
		<string>Captain America: The Winter Soldier</string>
	</dict>
	<key>Event10</key>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>description</key>
		<string>Guardians of the Galaxy</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Guardians_of_the_Galaxy_(film)</string>
		<key>yearOfEvent</key>
		<integer>2014</integer>
		<key>eventName</key>
		<string>Guardians of the Galaxy</string>
	</dict>
	<key>Event11</key>
	<dict>
		<key>iq</key>
		<integer>11</integer>
		<key>description</key>
		<string>Avengers: Age of Ultron</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Avengers:_Age_of_Ultron</string>
		<key>yearOfEvent</key>
		<integer>2015</integer>
		<key>eventName</key>
		<string>Avengers: Age of Ultron</string>
	</dict>
	<key>Event12</key>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>description</key>
		<string>Ant-Man</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Ant-Man_(film)</string>
		<key>yearOfEvent</key>
		<integer>2015</integer>
		<key>eventName</key>
		<string>Ant-Man</string>
	</dict>
	<key>Event13</key>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>description</key>
		<string>Captain America: Civil War</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Captain_America:_Civil_War</string>
		<key>yearOfEvent</key>
		<integer>2016</integer>
		<key>eventName</key>
		<string>Captain America: Civil War</string>
	</dict>
	<key>Event14</key>
	<dict>
		<key>id</key>
		<string>14</string>
		<key>description</key>
		<string>Doctor Strange</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Doctor_Strange_(2016_film)</string>
		<key>yearOfEvent</key>
		<string>2016</string>
		<key>eventname</key>
		<string>Doctor Strange</string>
	</dict>
	<key>Event15</key>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>description</key>
		<string>Guardians of the Galaxy Vol. 2</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Guardians_of_the_Galaxy_Vol._2</string>
		<key>yearOfEvent</key>
		<integer>2017</integer>
		<key>eventName</key>
		<string>Guardians of the Galaxy Vol. 2</string>
	</dict>
	<key>Event16</key>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>description</key>
		<string>Spider-Man: Homecoming</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Spider-Man:_Homecoming</string>
		<key>yearOfEvent</key>
		<integer>2017</integer>
		<key>eventName</key>
		<string>Spider-Man: Homecoming</string>
	</dict>
	<key>Event17</key>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>description</key>
		<string>Thor: Ragnarok</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Thor:_Ragnarok</string>
		<key>yearOfEvent</key>
		<integer>2017</integer>
		<key>eventName</key>
		<string>Thor: Ragnarok</string>
	</dict>
	<key>Event18</key>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>description</key>
		<string>Black Panther</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Black_Panther_(film)</string>
		<key>yearOfEvent</key>
		<integer>2018</integer>
		<key>eventName</key>
		<string>Black Panther</string>
	</dict>
	<key>Event19</key>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>description</key>
		<string>Avengers: Infinity War</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Avengers:_Infinity_War</string>
		<key>yearOfEvent</key>
		<integer>2010</integer>
		<key>eventName</key>
		<string>Avengers: Infinity War</string>
	</dict>
	<key>Event20</key>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>description</key>
		<string>Ant-Man and the Wasp</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Ant-Man_and_the_Wasp</string>
		<key>yearOfEvent</key>
		<integer>2010</integer>
		<key>eventname</key>
		<string>Ant-Man and the Wasp</string>
	</dict>
	<key>Event21</key>
	<dict>
		<key>id</key>
		<integer>21</integer>
		<key>description</key>
		<string>Captain Marvel</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Captain_Marvel_(film)</string>
		<key>yearOfEvent</key>
		<integer>2019</integer>
		<key>eventName</key>
		<string>Captain Marvel</string>
	</dict>
	<key>Event22</key>
	<dict>
		<key>id</key>
		<integer>22</integer>
		<key>description</key>
		<string>Avengers: Endgame</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Avengers:_Endgame</string>
		<key>yearOfEvent</key>
		<integer>2019</integer>
		<key>eventName</key>
		<string>Avengers: Endgame</string>
	</dict>
	<key>Event23</key>
	<dict>
		<key>id</key>
		<integer>23</integer>
		<key>description</key>
		<string>Spider-Man: Far From Home</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Spider-Man:_Far_From_Home</string>
		<key>yearOfEvent</key>
		<integer>2019</integer>
		<key>eventName</key>
		<string>Spider-Man: Far From Home</string>
	</dict>
	<key>Event24</key>
	<dict>
		<key>id</key>
		<integer>24</integer>
		<key>description</key>
		<string>Stan Lee Dies</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Stan_Lee</string>
		<key>yearOfEvent</key>
		<integer>2010</integer>
		<key>eventName</key>
		<string>Stan Lee Dies</string>
	</dict>
	<key>Event25</key>
	<dict>
		<key>id</key>
		<integer>25</integer>
		<key>description</key>
		<string>The Defenders</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Defenders_(miniseries)</string>
		<key>yearOfEvent</key>
		<integer>2017</integer>
		<key>eventName</key>
		<string>The Defenders</string>
	</dict>
</dict>
</plist>
